@font-face {
    font-family: 'pfd-regular';
    src: url('../fonts/pfd-regular/pfdintextcomppro-regular-webfont.eot');
    src: url('../fonts/pfd-regular/pfdintextcomppro-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pfd-regular/pfdintextcomppro-regular-webfont.woff2') format('woff2'),
        url('../fonts/pfd-regular/pfdintextcomppro-regular-webfont.woff') format('woff'),
        url('../fonts/pfd-regular/pfdintextcomppro-regular-webfont.ttf') format('truetype'),
        url('../fonts/pfd-regular/pfdintextcomppro-regular-webfont.svg#pf_din_text_comp_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}